.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #63b2d6;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  font-size: 5rem;
  color: #000000;
}

p {
  font-size: 1rem;
  color: #474747;
  font-family: cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #ffffff;
  text-align: center;
  font-family: cursive;

}
